@{
    ViewData["Title"] = "Movie List";
}

<div class="text-center">
    <h1 class="display-4">My Movie List</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Hello from View template</a>.</p>
</div>
